{% extends '::backend.html.twig' %}
 {% block stylesheets %}
    {{ parent() }}
     {% stylesheets '@BackendAdminBundle/Resources/public/css/ingresos.css' %}
     <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

{% endblock %}
{% block container -%}
<div class="well">    
    <h4>Detalle de movimiento de Partes n°: {{ entity.id }} </h4>

<div class="control-group">
  <label>Fecha de creación: 
  {{ entity.createdAt |date('d-m-Y ') }}</label>
</div>

<div class="control-group">
  <label>Deposito origen : 
  {{ entity.depositoOrigen.getNombre }}</label>
</div>

<div class="control-group">
  <label>Deposito Destino : 
  {{ entity.depositoDestino.getNombre }}</label>
</div>

<div class="control-group">
  <label>Documento: 
  {{ entity.getDocumento }}</label>
</div>

<div class="control-group">
  <label>Observaciones: 
  {{ entity.getObservaciones }}</label>
</div>

<div class="control-group">
Estado: 
{% if entity.estado.id == 1 %}                    
   <span class="label label-warning">{{ entity.estado.name }}</span>                    
{% endif %}                   
{% if entity.estado.id == 2 %}                                 
   <span class="label label-success">{{ entity.estado.name }}</span>					
{% endif %}				  
{% if entity.estado.id == 3 %}                                    
   <span class="label label-important">{{ entity.estado.name }}</span>					
{% endif %}  
<br/>	  
{% if entity.estado.getId == 2 or  entity.estado.getId == 3 %}		  
Fecha aceptada/rechazada: {{ entity.updatedAt |date('d-m-Y ') }}		  
{% endif %}	
</div>

</div>

<div class="well">
    <table class="table">
    <thead>
    <tr>
    <th>Cantidad</th>
    <th>Nombre fabricante</th>
    <th>Nombre interno</th>
    </tr>
    </thead>
    <tbody>
     {% for ingreso in entity.getIngresos() %}    
     <tr>
                <td>{{ ingreso.cantidad }}</td>
                <td>{{ ingreso.parte.getCodigo() }}</td>
                <td>{{ ingreso.parte.getNombreInterno() }}</td>                                
     </tr>   
     {% endfor %}        
     </tbody>
     </table>
</div>	
   
     <button type="button" class="btn btn-inverse"  data-url="{{ path('movimientoParte_toaceptado',{ 'id': entity.id }) }}" ><i class="icon-ok icon-white"></i>Aceptar</button>	
	 <button type="button" class="btn btn-danger  data-url="{{ path('movimientoParte_torechazado',{ 'id': entity.id })}}><i class="icon-remove icon-white"></i>Rechazar</button>
	 <button type="button" class="btn btn-inverse" data-url="{{ path('movimientoParte') }}"><i class="icon-chevron-left icon-white"></i>Volver</button>
   
   
   
{% endblock %}
{% block javascripts %}
  {{ parent() }}

  {% javascripts '@BackendAdminBundle/Resources/public/js/procesa.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}    
